{% extends "layout.njk" %}

{% block title %}KUSOI - Запуск{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<a href="/tournament">Обратно</a>
{% include "draw.njk" %}
{% endblock %}