<!DOCTYPE html>
<html lang="RU">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="style.css">
        {% block header %}{% endblock %}
    </head>
    <body>
        <div class="header-wrapper">
            <div class="header-filler"></div>
            <a href="/">Главная</a>
            <a href="/leaderboard">Положение</a>
            {% if user %}
                <a href="/submissions">Посылки</a>
                <a href="/user">{{ user.name }}</a>
                <a href="/logout">Выход</a>
            {% else %}
                <a href="/login">Вход</a>
            {% endif %}
        </div>
        <div class="content-wrapper">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
