{% extends "layout.njk" %}

{% block title %}KUSOI - Просмотр решения{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <a href="/solutions">Обратно</a>
    {{ code }}
{% endblock %}