{% extends "layout.njk" %}

{% block title %}KUSOI - Просмотр решения{% endblock %}

{% block header %}
    <script type="module">
        import * as monaco from 'https://cdn.jsdelivr.net/npm/monaco-editor/+esm';

        const decodeHTML = function (html) {
            const txt = document.createElement('textarea');
            txt.innerHTML = html;
            return txt.value;
        };

        monaco.editor.create(document.querySelector('.monaco'), {
            value: decodeHTML(`{{ code }}`),
            language: "python",
            theme: 'vs-dark',
            automaticLayout: true,
            readOnly: true
        });
    </script>
    <link href="https://cdn.jsdelivr.net/npm/vscode-codicons@0.0.17/dist/codicon.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <a href="/solutions">Обратно</a>
    <div class="monaco" style="min-height: 40em"></div>
{% endblock %}
