{% extends "layout.njk" %}

{% block title %}KUSOI - Решения{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <form action="/submit" method="POST" enctype="multipart/form-data" class="submission-form">
        <div>
            <label for="new-solution">Отправить код:</label>
            <input type="file" id="new-solution" name="new-solution">
        </div>
        <div>
            <input type="submit" value="Отправить">
        </div>
    </form>
    <table>
        <tr>
            <th>Номер решения</th>
            <th>Код</th>
        </tr>
        {% for solution in solutions %}
            <tr>
                <td>{{ solution.id }}</td>
                <td>{{ solution.code }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}