{% extends "layout.njk" %}

{% block title %}KUSOI - Решения{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <form action="/solutions/submit" method="POST" enctype="multipart/form-data" class="submission-form">
        <div>
            <label for="new-solution">Отправить код:</label>
            <input type="file" id="new-solution" name="new-solution">
            <select id="lang" name="lang">
                <option value=".py" selected>.py</option>
                <!--<option value=".gcc.cpp">.cpp</option>-->
            </select>
        </div>
        <div>
            <input type="submit" value="Отправить">
        </div>
    </form>
    <table>
        <tr>
            <th>Номер решения</th>
            <th>Действия</th>
        </tr>
        {% for solution in solutions %}
            <tr>
                <td>{{ solution.id }}{% if solution.is_active %} - Активное{% endif %}</td>
                <td>
                    <a href="/solutions/{{ solution.id }}">Посмотреть</a>
                    <a href="/solutions/activate/{{ solution.id }}">Сделать активным</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
