{% extends "layout.njk" %}

{% block title %}KUSOI - Посылки{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <form action="/submit" method="POST" enctype="multipart/form-data">
        <div>
            <label for="new-submission">Отправить код:</label>
            <input type="file" id="new-submission" name="new-submission">
        </div>
        <div>
            <input type="submit" value="Отправить">
        </div>
    </form>
    <table>
        <tr>
            <th>Номер посылки</th>
            <th>Код</th>
        </tr>
        {% for submission in submissions %}
            <tr>
                <td>{{ submission.id }}</td>
                <td>{{ submission.code }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
