{% extends "layout.njk" %}

{% block title %}KUSOI - Турнир{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <table>
        <tr>
            <th></th>
            {% for user in users %}
                <th>{{user.name}}</th>
            {% endfor %}
        </tr>
        {% for user in users %}
            <tr>
                <th>{{user.name}}</th>
                {% for enemy in users %}
                    <td>
                        {% if user != enemy %}
                            <a href="/gameview/{{gameId}}">{{user.name}} - {{enemy.name}}</a>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}