<div>
    <div class="precanvas-wrapper">
        <button type="button" id="start-button">Запуск!</button>
    </div>
    <div class="canvas-wrapper">
        <canvas id="canvas"></canvas>
    </div>
    <p id="status"></p>
</div>

<script type="text/javascript">
const gameLog = `{{ gameLog }}`.split('\n')
</script>
