{% extends "../layout.njk" %}

{% block title %}KUSOI - Запуск{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<a href="/tournament">Обратно</a>
{% include "games/draw.njk" %}
{% endblock %}
