{% extends "../layout.njk" %}

{% block title %}KUSOI - Просмотр{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<a href="/games/">Обратно</a>
{% include "games/draw.njk" %}
{% endblock %}
