@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    margin: 0;
    background-image: url("/src/kusoi_background.png");
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #A0A0A0;
}

.header-wrapper {
    padding: 1em;
    display: flex;
    border-bottom: 1px solid #a9a9a9;
}

.header-filler {
    flex-grow: 2;
}

.header-wrapper>a {
    margin-right: 1em;
}

body {
    margin: 0;
    font-family: "JetBrains Mono", monospace;
}

.header-wrapper {
    background-color: #DA4B78;
    padding: 20px;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 36px;
    color: white;
    font-weight: bold;
    margin-right: auto;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.nav a:hover {
    text-decoration: underline;
}

.content-wrapper {
    margin: 5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: #ffffffe3;
}

.content-wrapper .canvas-wrapper {
    display: flex;
    justify-content: center;
}

.content-wrapper .canvas-wrapper #canvas {
    min-width: 400px;
    min-height: 400px;
}

.content-wrapper .precanvas-wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
}

.content-wrapper .submission-form {
    text-align: center;
}

.content-wrapper .submission-form .choose-file {
    display: inline-block;
}

.content-wrapper table {
    border-spacing: 0;
    border-collapse: collapse;
}

.content-wrapper table th,
.content-wrapper table td {
    border: 1px solid #a9a9a9;
}
